* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vH;
    overflow-y: hidden;
    background: linear-gradient(-45deg, #1e3094, #95577e, #fa8e44);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.register-form {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;

}

.form__title {
    text-align: center;
    user-select: none;
}

.form__input {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin-top: 30px;
    outline: none;
    border: none;
    border-bottom: solid #f1948a 2px;
    position: relative;
}

.form__input:focus {
    border-bottom: 2px solid rgba(0, 230, 64, 1);
    transition: 1.5s;
}



.form__login-btn {
    width: 100%;
    background-color: #2691d9;
    color: wheat;
    font-size: 15px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding: 3px;
    margin-top: 40px;
    cursor: pointer;
   box-shadow: 2px 4px  rgba(0,0,0,0.16);
}
.form__login-btn:hover{
    transform: scale(0.95);
    transition: 0.3s;
}

.form__signup {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.signup-text {
     color: #666666;
     user-select: none;
}

.signup-link {
     color: #fff;
     text-decoration: none;
     background-color: #2691d9;
     padding: 5px 10px;
     margin-left: 10px;
     border-radius: 10px;
     box-shadow: 2px 4px rgba(0, 0, 0, 0.16) ;
   
}
.signup-link:hover{
    transform: scale(0.95);
    transition: 0.1s;
}

@media screen and (max-width: 740px){
       .register-form{
           margin-top: 170px;
       }
         
}
